[data-md-color-scheme="light"] {
  --md-primary-fg-color:        #FDFDFD;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
} 



[data-md-color-scheme="dark"] {
  --md-primary-fg-color:        #FFCC01;
  --md-primary-fg-color--light: #FCD967;
  --md-primary-fg-color--dark:  #886B00;

  --md-text-font: "Open Sans";
  /* --md-code-font: "Roboto Mono"; */


  

    /* Indicate that the site is rendered with a dark color scheme */
    color-scheme: dark;

    /* Default color shades */
    /*
    --md-default-fg-color:             #FFFFFF;
    --md-default-fg-color--light:      hsla(var(--md-hue), 15%, 90%, 0.56);
    --md-default-fg-color--lighter:    hsla(var(--md-hue), 15%, 90%, 0.32);
    --md-default-fg-color--lightest:   hsla(var(--md-hue), 15%, 90%, 0.12);
    --md-default-bg-color:             hsla(var(--md-hue), 15%, 14%, 1);
    --md-default-bg-color--light:      hsla(var(--md-hue), 15%, 14%, 0.54);
    --md-default-bg-color--lighter:    hsla(var(--md-hue), 15%, 14%, 0.26);
    --md-default-bg-color--lightest:   hsla(var(--md-hue), 15%, 14%, 0.07);
    /*
  
    /* Typeset color shades */
    --md-typeset-color:                var(--md-default-fg-color);
  
    /* Typeset `a` color shades */
    --md-typeset-a-color:              var(--md-primary-fg-color);
  
    /* Typeset `kbd` color shades */
    --md-typeset-kbd-color:            #f4019b; /* test */
    --md-typeset-kbd-accent-color:     #f4019b;
    --md-typeset-kbd-border-color:     #f4019b;
  
    /* Typeset `mark` color shades */
    --md-typeset-mark-color:           #f4019b;
    
  
    /* Typeset `table` color shades
    --md-typeset-table-color:          hsla(var(--md-hue), 15%, 95%, 0.12);
    --md-typeset-table-color--light:   hsla(var(--md-hue), 15%, 95%, 0.035);

    /*
  
    /* Admonition color shades
    --md-admonition-fg-color:          var(--md-default-fg-color);
    --md-admonition-bg-color:          var(--md-default-bg-color);

    /*
  
    /* Footer color shades
    --md-footer-bg-color:              hsla(var(--md-hue), 15%, 10%, 0.87);
    --md-footer-bg-color--dark:        hsla(var(--md-hue), 15%, 8%, 1);

    /*
  
    /* Shadow depth 1
    --md-shadow-z1:
      0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.05),
      0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.1);

      /*
  
    /* Shadow depth 2
    --md-shadow-z2:
      0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.25),
      0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.25);

      /*
  
    /* Shadow depth 3
    --md-shadow-z3:
      0 #{px2rem(4px)} #{px2rem(10px)} hsla(0, 0%, 0%, 0.4),
      0 0              #{px2rem(1px)}  hsla(0, 0%, 0%, 0.35);

      /*
  
    /* // Hide images for light mode
    img[src$="#only-light"],
    img[src$="#gh-light-mode-only"] {
      display: none; */

    }

/*
/* -------------------------------------------------------------------------- */
  
  /* Adjust link colors for dark primary colors 
  @each $name, $color in (
    "pink":                            hsl(340, 81%, 63%),
    "purple":                          hsl(291, 53%, 63%),
    "deep-purple":                     hsl(262, 73%, 70%),
    "indigo":                          hsl(219, 76%, 62%),
    "teal":                            hsl(174, 100%, 40%),
    "green":                           hsl(122, 39%, 60%),
    "deep-orange":                     hsl(14, 100%, 65%),
    "brown":                           hsl(16, 45%, 56%),
  
    // Set neutral colors to indigo
    "grey":                            hsl(219, 66%, 62%),
    "blue-grey":                       hsl(219, 66%, 62%),
    "white":                           hsl(219, 66%, 62%),
    "black":                           hsl(219, 66%, 62%)
  ) {
    [data-md-color-scheme="slate"][data-md-color-primary="#{$name}"] {
      --md-typeset-a-color: #{$color};
    }
    
  }
  
  /*
